@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

a 
	color: $accent
	&:hover, &:focus
		color: $accent

.top-line 
	position: relative
	height: 65px

	background-color: $dark

.logo 
	position: absolute
	left: 0
	padding-left: 30px

	font-family: baron-g, sans-serif
	color: #ffffff
	font-size: 23px
	text-decoration: none
	line-height: 65px
	display: inline-block
	&:hover, &:focus
		text-decoration: none
		color: #fff
	span 
		color: $accent

.main-menu
	padding: 0 100px
	width: 100%

	text-align: center
	ul, li 
		list-style-type: none
		margin: 0
		padding: 0
	li 
		display: inline-block
		margin-right: -4px
		&.active
			a
				color: #fff
				background-color: lighten($dark, 5%)
		&:hover
			a
				color: #fff
				background-color: lighten($dark, 8%)

	a 
		display: block
		padding: 0 15px

		color: #d1d9e0
		text-decoration: none
		text-transform: uppercase
		font-size: 16px
		font-weight: bold
		line-height: 65px
		transition: color .25s, background-color .25s

.search-wrap
	.search
		position: absolute
		right: 0
		padding: 0 30px 0 10px

		color: #5c6470
		cursor: pointer
		line-height: 65px
		text-align: center
		transition: color .25s
		&:hover
			color: lighten(#5c6470, 10%)
	.search-field
		display: none
		position: absolute
		left: 0
		top: 65px
		
		width: 100%
		padding: 15px

		background-color: lighten($dark, 3%)
		border-top: lighten($dark, 5%) 1px solid
		z-index: 4
		input[type=text]
			width: 100%
			padding: 8px 15px

			border: lighten($dark, 10%) 1px solid
			background-color: lighten($dark, 7.5%)
			font-size: 16px
			color: #ffffff
			outline: none
			&:focus
				border-color: lighten($dark, 15%)
			&::placeholder
				color: rgba(#fff, .2 )
				font-family: arial, sans-serif
				font-style: italic

.mobile-menu-button
	display: none
	color: #ffffff
	text-align: center
	cursor: pointer
	line-height: 65px
	font-size: 17px
	text-transform: uppercase 
	font-weight: bold
	white-space: nowrap
	&:hover 
		color: $accent

.mobile-menu 
	display: none

	background-color: lighten($dark, 3%)
	border-top: lighten($dark, 5%) 1px solid
	.top-menu
		display: block
	li 
		display: block
		a 
			padding: 0
			line-height: 45px

.add
	text-align: center
	overflow: hidden

.add-top
	margin-bottom: $gutter

.img-res
	display: block
	width: 100%

.container-fluid
	max-width: 1346px
	padding: 0 $gutter

section 
	background-color: #fafafa
	padding: 
		top: $gutter
		bottom: $gutter
	h2 
		margin: 0

		font-size: 23px
		font-weight: 800
		text-transform: uppercase

.item-title
	min-height: 340px
	&-content 
		position: absolute
		bottom: 0
		z-index: 1

		padding: 40px

		color: #fff
		h3 
			margin: 0

			text-transform: uppercase
			font-weight: 800
			line-height: 1.25
			font-size: 19px
		a 
			color: #fff
			text-decoration: none
			&:hover
				text-decoration: underline

		

.pattern
	display: block
	position: relative
	background-color: $dark
	&::before
		content: ''
		transition: opacity .25s ease, top .25s ease, left .25s ease, bottom .25s ease, right .25 ease
		z-index: 1
		position: absolute
		border: 1px solid #fff
		top: 0px
		right: 0px
		bottom: 0px
		left: 0px
		opacity: 0
	&:hover
		&::before
			opacity: 0.2
			top: 10px
			right: 10px
			bottom: 10px
			left: 10px
		.overlay
			&::before
				opacity: 0.75

.overlay
	display: block
	position: relative

	background-size: cover
	background-position: center
	&::before
		content: ''
		background-color: $dark
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		opacity: 0.55
		transition: opacity .25s ease
	&:hover
		&::before
			opacity: 0.75

.item-social
	margin-top: 10px
	.fa
		font-size: 12px
		margin-right: 5px

.item-comments
	display: inline-block
	margin-right: 20px
	&-count
		display: inline-block
		position: relative

		font-size: 12px
		&::after
			content: ''
			font-family: fontawesome
			font-size: 5px
			top: 35%
			margin-left: 10px
			margin-right: 10px
			position: absolute
			opacity: .25

.likely-custom 
	display: inline-block
	font-size: 12px
	.likely__button
		padding-left: 15px
	> div
		position: relative
		padding: 0 4px 0 3px
		margin: 6px 2px 0

		border: 1px solid #ffffff
		border-radius: 2px
		cursor: pointer
	.likely__counter
		display: none
	svg
		position: absolute
		top: 3.5px
		left: 4px
		width: 11px
		height: auto
		path 
			fill: #fff
	> *
		display: inline-block

.second-section
	padding: $gutter/2 0

.news-wrap
	padding-bottom: $gutter/2
	.pattern
		&::before
			display: none
	.overlay
		&::before
			opacity: 0.4

.item-news
	min-height: 280px
	margin: $gutter/2 0

	color: $text
	&-content
		position: absolute
		width: 80%
		padding: $gutter
		border: 
			left: #dfdfdf 1px solid
			bottom: #dfdfdf 1px solid
		z-index: 1
		bottom: 0
		background-color: #fff
		h3 
			margin: 0
			font-size: 17px
			line-height: 1.2
	&:hover
		h3 
			text-decoration: underline

.date
	font-size: 13px
	color: $accent
	font-family: baron-g, sans-serif
	font-weight: bold

.aside-box
	margin-bottom: $gutter
	text-align: center
	.img-responsive
		display: inline-block

.dark-section
	padding: 30px 0
	background-color: $dark
	h2 
		a 
			color: #ffffff

.col-item
	margin: 12px 0 15px
	a 
		text-decoration: none
		transition: color .25s ease
		&:hover, &.hover
			text-decoration: underline

	.item-comments
		margin-top: 2px
		.fa, .item-comments-count
			color: #49505a
		.fa 
			font-size: 12px
			margin:
				left: 20px
				right: 5px

		.item-comments-count
			&::after
				left: -40px
				color: #49505a
				opacity: 1
			&:hover
				color: #49505a

		.date
			display: inline-block
			margin-top: 0

	h4 
		font-size: 15px
		font-weight: normal
		margin: 0
		line-height: 1.35

	.col-item-meta
		margin: 
			bottom: 8px
			top: 6px

	&.col-item-dark
		a 
			color: #a4a7ab
			&:hover, &.hover 
				color: #fff

.fourth-section
	padding: 
		top: 30px
	background-color: #f5f5f5
	&-header 
		margin-bottom: 10px

	.item-title
		min-width: 300px
		.date 
			display: inline-block
			margin-left: 20px

			color: #fff

	.item-social
		margin-top: 1px







			

@import "media" // Always at the end
